<div style="background: linear-gradient(90deg, rgba(92,142,228,1) 0%, rgba(126,66,245,1) 47%, rgba(138,60,246,1) 70%, rgba(169,44,248,1) 100%); width : 100%; height: 100%">
<br>
<h1 style="color: white; margin-left: 50%; transform: translate(-50%)">
    Analysis of FIFA2020 Data Visualization
</h1>
<br>
<br>

### Content
+ Introduction
+ Objectives
+ Data set
  + WEB scrapping and data manipulation
  + Data validation
  + Data analysis
+ Conclusion

<div style="background: linear-gradient(90deg, rgba(31,0,0,1) 0%, rgba(239,28,71,1) 20%, rgba(239,28,64,1) 48%, rgba(239,28,71,1) 75%, rgba(68,0,0,1) 100%);">
    <img src="https://akket.com/wp-content/uploads/2019/09/Skachat-FIFA-20-besplatno-1.jpg" width="80%">
</div>


    Introduction

    FIFA 20 is a football simulation video game published by Electronic Arts as part of the FIFA series. Each player in FIFA has an overall rating as well as six scores for the key stats; Pace, Shooting, Passing, Dribbling, Defending, and Physical. These stats are combined with a player's international recognition to calculate the player's overall rating.

short_name - name of the player<br>
age - age of the player<br>
nationality - country of the player<br>
club - his football club where he plays<br>
overall - player rating(0-99) in the game<br>
value_eur - player value in euro<br>
wage_eur - player salary in euro<br>
preferred_foot - leading leg<br>
international_reputation - player's recognition internationally, player popularity<br>
team_position - player's position in the club<br>

# Objectives

1. Clubs and Countries by Players Ratings, Salaries and Reputations
2. Players for per country
3. Clubs by player value
4. Player ratings-to-age ratio and ratings-to-position
5. Right-handed vs left-handed

# Data set

##  1. WEB scrapping and data manipulation

In [17]:
import pandas as pd
import requests
from bs4 import BeautifulSoup as BS

In [18]:
data = [] #list for saving scrapping data
num_pages = 9 #500 players in 9 pages
pages_url = []  #for add urls of 9 pages
count_player = 0 #count of player that offseting on the select

for x in range(1, num_pages + 1):
    tail = '&offset=' + str(count_player) #tail of the link
    link = 'https://sofifa.com/players?type=all&oah=99&hl=en-US&showCol%5B0%5D=ae&showCol%5B1%5D=pf&showCol%5B2%5D=oa&showCol%5B3%5D=pt&showCol%5B4%5D=gu&showCol%5B5%5D=vl&showCol%5B6%5D=ir&showCol%5B7%5D=pac&showCol%5B8%5D=sho&showCol%5B9%5D=pas&showCol%5B10%5D=dri&showCol%5B11%5D=def&showCol%5B12%5D=phy&showCol%5B13%5D=wg' + str(tail)
        #adding tail to the end of link
    
    pages_url.append( requests.get(link) )
    count_player += 60
print('Competed')

Competed

In [26]:
for r in pages_url:   
    html = BS(r.content, 'lxml')
    
    i = 0
    players = 60
    for element in html.select('tbody'):
        name = element.select('tr > td.col-name > a.tooltip > .bp3-text-overflow-ellipsis')
        age = element.select('tr > td.col-ae')
        country = element.select('tr > td.col-name > a.tooltip > .bp3-text-overflow-ellipsis > img')
        rating = element.select('tr > td.col-oa > span')
        club = element.select('tr > td.col-name > .bp3-text-overflow-ellipsis > a')
        foot = element.select('tr > td.col-pf')
        growth = element.select('tr > td.col-gu > span')
        value = element.select('tr > td.col-vl')
        wage = element.select('tr > td.col-wg')
        reputation = element.select('tr > td.col-ir')

        while i < players:

            n = name[i].text
            ae = age[i].text
            cntr = country[i].get('title')
            rtg = rating[i].text
            clb = club[i].text
            ft = foot[i].text
            grwth = growth[i].text
            vl = value[i].text
            wg = wage[i].text
            rpttn = reputation[i].text

            data.append([n, ae, cntr, rtg, clb, ft, grwth, vl, wg, rpttn])
            i += 1
print('Completed')

Completed

In [5]:
print(len(data))
data = data[0:500]
print(len(data))

540
500

In [32]:
fifa2020_data = pd.DataFrame(data, columns=['name', 'age', 'country', 'rating', 'club', 'foot', 'growth', 'value', 'wage', 'reputation'])
fifa2020_data.head(5)

,name,age,country,rating,club,foot,growth,value,wage,reputation
0,L. Messi,32,Argentina,94,FC Barcelona,Left,0,€95.5M,€560K,5 ★
1,Cristiano Ronaldo,34,Portugal,93,Juventus,Right,0,€58.5M,€410K,5 ★
2,Neymar Jr,27,Brazil,92,Paris Saint-Germain,Right,0,€105.5M,€290K,5 ★
3,V. van Dijk,27,Netherlands,91,Liverpool,Right,1,€90M,€240K,3 ★
4,J. Oblak,26,Slovenia,91,Atlético Madrid,Right,2,€77.5M,€125K,3 ★

##  1.  Data manipulation

In [33]:
dataset = pd.read_csv('players_20.csv')

In [34]:
dataset[['short_name', 'age', 'nationality', 'club', 'overall', 'value_eur', 'wage_eur', 'preferred_foot', 'international_reputation', 'team_position']]

,short_name,age,nationality,club,overall,value_eur,wage_eur,preferred_foot,international_reputation,team_position
0,L. Messi,32,Argentina,FC Barcelona,94,95500000,565000,Left,5,RW
1,Cristiano Ronaldo,34,Portugal,Juventus,93,58500000,405000,Right,5,LW
2,Neymar Jr,27,Brazil,Paris Saint-Germain,92,105500000,290000,Right,5,CAM
3,J. Oblak,26,Slovenia,Atlético Madrid,91,77500000,125000,Right,3,GK
4,E. Hazard,28,Belgium,Real Madrid,91,90000000,470000,Right,4,LW
...,...,...,...,...,...,...,...,...,...,...
18273,Shao Shuai,22,China PR,Beijing Renhe FC,48,40000,2000,Right,1,RES
18274,Xiao Mingjie,22,China PR,Shanghai SIPG FC,48,40000,2000,Right,1,SUB
18275,Zhang Wei,19,China PR,Hebei China Fortune FC,48,40000,1000,Right,1,SUB
18276,Wang Haijian,18,China PR,Shanghai Greenland Shenhua FC,48,40000,1000,Right,1,SUB
18277,Pan Ximing,26,China PR,Hebei China Fortune FC,48,40000,2000,Right,1,SUB